{% extends 'layout.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      {{ form_errors(form) }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Info:</span>
        Fields marked with an asterisk are required
      </div>
    </div>
  </div>

  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
      <div class="col-sm-6">
        {{ form_row(form.name) }}
        {{ form_row(form.username, {'attr': {'class': 'js-username'}}) }}
        {{ form_row(form.nickname, {'attr': {'class': 'js-nickname'}}) }}
      </div>
      <div class="col-sm-6">
        {{ form_row(form.contact_email, {'attr': {'class': 'js-contact-email'}}) }}
        {{ form_row(form.list_email, {'attr': {'class': 'js-list-email'}}) }}
      </div>
    </div>
    {{ form_row(form.bio_reason) }}
    <div class="row">
      <div class="col-sm-6">
        {{ form_row(form.sponsor) }}
      </div>
      <div class="col-sm-6">
        {{ form_row(form.second_sponsor) }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="alert alert-info js-suggest-face" role="alert">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <span class="sr-only">Info:</span>
          Provide either a photo URL or upload one from your computer.<br/>
          Photo should be a headshot.
        </div>
        {{ form_row(form.face_url, {'attr': {'class': 'js-face-url'}}) }}
        {{ form_row(form.face_file, {'attr': {'class': 'js-face-file'}}) }}
      </div>
      <div class="col-sm-4">
        <img class="img-rounded img-responsive js-face-image" src="/assets/img/faceless.png">
      </div>
    </div>
    {{ form_row(form.token_type) }}
    <div class="page-header">
      <h3>Optional Info</h3>
    </div>
    <div class="row">
      <div class="col-sm-6">
        {{ form_row(form.twitter, {'attr': {'class': 'js-twitter'}}) }}
        {{ form_row(form.website) }}
      </div>
      <div class="col-sm-6">
        {{ form_row(form.facebook) }}
        {{ form_row(form.preferred_gender_pronoun) }}
      </div>
    </div>
    {{ form_row(form.heard_from) }}
    <div class="row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-lg btn-block btn-success">Submit Application</button>
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}
